# ignore gitignore file
.gitignore

# Игнорировать все файлы .xlsx
*.xlsx

# Игнорировать все изображения
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Игнорировать папку env
env/

# Игнорируем рабочие пространства
sales-bot.code-workspace

# Игнорируем файлы macOS
.DS_Store

# Игнорируем папку images
images/
img/
test/

# Другие игнорируемые файлы и директории
*.pyc
__pycache__/
*.log
